<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Samsung Prism Worklet</title>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <header id="header" class="fixed-top header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="/">SAMSUNG PRISM </a></h1>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container position-relative" style="margin-top: -10em !important;">
            <h1>Selection of most suitable IoT device based on context (VI75KIIT) </h1>
            <h2>Samsung Prism Worklet </h2>
            <br>

            <div class="col-sm-6 text-center mx-auto">
                <select class="form-select form-select-lg mb-10" aria-label=".form-select-lg example"
                    onchange="location = this.value;">
                    <option selected disabled>Select Your Device</option>
                    <option value="/mobile">Mobile</option>
                    <option value="/watch">Watch</option>
                    <option value="/washing-machine">Washing machine</option>
                    <option value="/microwave">Microwave</option>
                    <option value="/ai-speaker">AI Speaker</option>
                    <option value="/air-conditioner">Air Conditioner</option>
                    <option value="/family-hub">Family Hub</option>
                </select>
            </div>

        </div>
    </section><!-- End Hero -->



</body>

</html>